HELP.md
target/
at_fs/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# log files
**/*.log
**/*.gz
*.log
*.tmp
*.out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/reproduct_fs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Misc ###
.DS_Store
.env.local
.yarn.cache
